language: python

# Run jobs on container-based infrastructure, can be overridden per job

matrix:
  include:
    # Extra includes for OSX since python language is not available by default on OSX
    - os: osx
      language: generic
      env: PYTHON_VER=3.6
    - os: osx
      language: generic
      env: PYTHON_VER=3.7

    - os: linux
      python: 3.6
      env: PYTHON_VER=3.6
    - os: linux
      python: 3.7
      env: PYTHON_VER=3.7

before_install:
    # Additional info about the build
  - uname -a
  - df -h
  - ulimit -a

    # Install the Python environment
  - source devtools/travis-ci/before_install.sh
  - python -V

install:
{% if cookiecutter.dependency_source == 'Dependencies from pip only (no conda)' %}
    # Install the package locally
  - pip install -U pytest pytest-cov codecov
  - pip install -e .
{% else %}
    # Create test environment for package
  - python devtools/scripts/create_conda_env.py -n=test -p=$PYTHON_VER devtools/conda-envs/test_env.yaml
    # Activate the test environment
  - conda activate test
    # Build and install package
  - python setup.py develop --no-deps
{% endif %}

script:
  - pytest -v --cov={{cookiecutter.repo_name}} {{cookiecutter.repo_name}}/tests/

notifications:
    email: false

after_success:
  - codecov
